<div id="<%= dom_id tenant %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= tenant.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Subdomain:</strong>
    <%= tenant.subdomain %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= tenant.status %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Settings:</strong>
    <%= tenant.settings %>
  </p>
</div>
